
#botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonprendido {
    color:blue;
}
.botonapagado{
    color:red;    
}
.errorMsg{
    color:red;
    font-weight: bold;
}